dj-database-url==0.5.0
Django==3.0.4
django-crum==0.7.5
django-widget-tweaks==1.4.8
djangorestframework==3.12.2
entrypoints==0.3
filelock==3.0.12
django-pwa==1.0.10
future==0.18.2
gunicorn==20.0.4
html5lib==1.0.1
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
django-audiofield==0.10.0
isort==5.5.1
jmespath==0.10.0
lazy-object-proxy==1.4.3
pefile==2019.4.18
Pillow==7.1.1
psycopg2==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
PyHamcrest==2.0.2
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
pylint==2.6.0
pyOpenSSL==19.1.0
PyPDF2==1.26.0
python-dateutil==2.8.1
python-decouple==3.4
pytz==2019.3
pywin32-ctypes==0.2.0
qrcode==6.1
reportlab==3.5.42
requests==2.24.0
service-identity==18.1.0
six==1.14.0
sqlparse==0.3.1
toml==0.10.1
toolz==0.10.0
txaio==20.4.1
Unipath==1.1
urllib3==1.25.10
virtualenv==20.0.31
virtualenvwrapper-win==1.2.6
webencodings==0.5.1
xhtml2pdf==0.2.4
whitenoise==5.2.0