{% load static %}

<footer>
    <!-- Widgets Start -->

    <!-- Widgets End -->
    <!-- Foot Note Start -->
    <div class="foot-note">
      <div class="container">
        <div
          class="footer-content text-center text-lg-left d-lg-flex justify-content-between align-items-center"
        >
          
        <p class="mb-0" data-aos="fade-right" data-aos-offset="0">
            &copy; <strong>2021 All Rights Reserved.</strong>  
            <a
              href="https://www.facebook.com/mejiapromusic"
              target="_blank"
              class="fh5-link"
              > <strong>Mejía Pro Music</strong></a
            >.
          </p>
         
        </div>
      </div>
    </div>
    <!-- Foot Note End -->
  </footer>

  
    <!-- Footer Endt -->
    <!--jQuery-->
    <script src="{% static 'assets/js/jquery-3.3.1.js' %}"></script>
    <!--Plugins-->
    <script src="{% static 'assets/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'assets/js/loaders.css.js' %}"></script>
    <script src="{% static 'assets/js/aos.js' %}"></script>
    <script src="{% static 'assets/js/swiper.min.js' %}"></script>
    <script src="{% static 'assets/js/lightgallery-all.min.js' %}"></script>
    <!--Template Script-->
    <script src="{% static 'assets/js/main.js' %}"></script>
  