{% extends 'index.html' %}
{% load static %}
{% block tituloPrincipal %}
<title>Galería Mejia Pro Music</title>    
{% endblock %}
{% block body %}

<body style="height:100%">
    {% include 'home/header.html' %}

        <!-- Hero Start -->
        
        <section class="hero8 pricing-table" style="height:100%">
              <div style="margin-top:10%; color:black ;" >
       
                <div class="container">
                    
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title" style="text-align:center">
                GALERÍA
            </h3>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
        
                        <div class="card">
                            <div class="card-header" style="background:#210B61; color:white">
                                CATEGORÍAS
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a href="{% url 'home:galery_list' %}">TODO</a>
                                </li>
                                {% for category in categories %}
                                <li class=" list-group-item">
                                    <a href="{% url 'home:galery_list' %}?category={{category.name}}">
                                        {{category.name}}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
        
                    </div>
                    <div class="col-md-9">
                        <div class="row">
        
                            {% for photo in photos %}
                            <div class="col-md-4">
                                <div class="card my-2">
                                    
                                    <img class="image-thumbail" style="margin-left: 12px; margin-top:5px;" src="{{photo.image.url}}" alt="Card image cap" width="210px" height="200px">
        
                                    <div class="card-body">
                                        <small>Categoría: {{photo.category.name}}</small>
                                    </div>
                                    <a href="{% url 'home:photo' photo.id %}" class="btn btn-outline-dark btn-sm m-1" style="background:#210B61; color:white">Ver</a>

                                </div>
                            </div>
                            {% empty %}
                           <center>
                            <h3>NO HAY IMAGENES...</h3>
                           </center>
                            {% endfor %}
     
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
                </div>
                 
                </div>
          
            </div>
            <iframe style="margin-top: 10%;" name="contenedorPlayer" class="cuadroBordeado" allow="autoplay" width="0px" height="0px" marginwidth=0 marginheight=0 hspace=0 vspace=0 frameborder=0 scrolling=no  src="https://cp.usastreams.com/pr2g/APPlayerRadioHTML5.aspx?stream=https://ssradioonline.com/proxy/mejiapro?mp=/stream&fondo=05&formato=mpeg&color=14&titulo=2&autoStart=1&vol=5&tipo=4&nombre=Radio+TOP40&imagen=https://cp.usastreams.com/playerHTML5/img/cover.png"></iframe>
            
            </section>
              
 
        <h1 style="margin-top: 5%;" hidden></h1>

        </button>
        

    {% include 'home/footer.html' %}

</body>
{% endblock body %}