{% extends 'index.html' %}


{% load static %}
{% block tituloPrincipal %}
<title>Música</title>    
{% endblock %}
{% block body %}

<body>
    {% include 'home/header.html' %}

        <!-- Hero Start -->
        
        <section class="hero6" >
              <div style="margin-top:15%; color:white ;" >
              </div>
              <center>
                <img src="{% static 'assets/mejia/the.png' %}" alt="#" />
                <h1 style="color: azure;">
                  VERSIONES ÚNICAS CREADAS POR NUESTROS DJ'S 
                </h1>
                <h2 style="color: azure;">
               ESCUCHA NUESTRO "PLAY LIST"
                </h2>
<iframe name="contenedorPlayer" class="cuadroBordeado" allow="autoplay" width="700px" height="120px" marginwidth=0 marginheight=0 hspace=0 vspace=0 frameborder=0 scrolling=no  src="https://cp.usastreams.com/pr2g/APPlayerRadioHTML5.aspx?stream=https://ssradioonline.com/proxy/mejiapro?mp=/stream&fondo=05&formato=mpeg&color=3&titulo=2&autoStart=1&vol=5&tipo=201&nombre=MEJ%c3%8dA+PRO+RADIO&imagen=https://cp.usastreams.com/playerHTML5/img/cover.png&server=https://ssradioonline.com/status.xslCHUMILLASmount=/proxy/status.xslCHUMILLASmount=/mejiaproCHUMILLASmp=/status.xslCHUMILLASmount=/stream"></iframe>

              </center>
  
              </div>
          </section>
          <center>
            <section class="pricing-table">
              <div class="container">
                <div class="title text-center">
                  <h6 class="title-primary">PLAY LIST</h6>
                  <h1 class="title-blue">PACKS DEL MES</h1>
                </div>
                <div class="row no-gutters">
   
                    {% for c in curso %}
  
                    <div
                      class="single-pricing text-center"
                      data-aos="fade-up"
                      data-aos-delay="0"
                      data-aos-duration="600"
                    >
                      <span>demo</span>
                      <h2>{{ c.usuario.username }}</h2>
                      <p class="desc">{{ c.title }}</p>
                      <img src="{{ c.image.url }}" alt="" width="200px" height="200px"> <br> <br>
                      <audio class="Audio-1" src="{{ c.audio_file.url }}" controls style="width: 180px;"></audio>
        
                      <p class="price">${{ c.price }}</p>
                      <p>Para adquirir la version completa da clic en Comprar.!</p>
                      <a href="{{ c.usuario.linkCelular }}" class="btn btn-primary" target="_blank">COMPRAR</a>
                 
                      <svg viewBox="0 0 170 193">
                        <path
                          fill-rule="evenodd"
                          fill="rgb(238, 21, 21)"
                          d="M39.000,31.999 C39.000,31.999 -21.000,86.500 9.000,121.999 C39.000,157.500 91.000,128.500 104.000,160.999 C117.000,193.500 141.000,201.000 150.000,183.000 C159.000,165.000 172.000,99.000 167.000,87.000 C162.000,75.000 170.000,63.000 152.000,45.000 C134.000,27.000 128.000,15.999 116.000,11.000 C104.000,6.000 89.000,-0.001 89.000,-0.001 L39.000,31.999 Z"
                        />
                      </svg>
                    </div>
              {% endfor %}
  
                  
  
                 
                </div>
              </div>
              
  
            </section>
            
          </center>
        

    {% include 'home/footer.html' %}

</body>
{% endblock body %}