{% extends 'index.html' %}

{% block tituloPrincipal %}
<title>Mejía Pro Radio</title>    
{% endblock %}
{% load static %}

{% block body %}

<body >
    {% include 'home/header.html' %}
    <section class="hero2" >
        <div style="margin-top:10%; color:white ; margin-left: 10%;" >
        </div>
        <center>
            <div style="width: 50%; height:50%">
  <!-- Inicio. radio hosting USAstreams.com html5 player -->
<!-- Licencia: GRATIS-XDF4543ERF -->
<img src="{% static 'assets/mejia/mpr.png' %}"width="600px" height="450px" alt="#" />

<h1 style="color: azure; margin-left: 5%;">
  MEJÍA PRO RADIO EN VIVO 
</h1>
<!-- Inicio. radio hosting USAstreams.com html5 player -->
<!-- Licencia: GRATIS-XDF4543ERF -->
<h2>
  <a href="https://ssradioonline.com:2199/tunein/mejiapro.pls" style="color:white" class="cc_streaminfo" data-type="song" data-username="mejiapro">Cargando ...</a><br />
  
</h2>
 <!-- Inicio. radio hosting USAstreams.com html5 player -->
<!-- Licencia: GRATIS-XDF4543ERF -->
<iframe name="contenedorPlayer" class="cuadroBordeado" allow="autoplay" width="100%" height="120px" marginwidth=0 marginheight=0 hspace=0 vspace=0 frameborder=0 scrolling=no  src="https://cp.usastreams.com/pr2g/APPlayerRadioHTML5.aspx?stream=https://ssradioonline.com/proxy/mejiapro?mp=/stream&fondo=05&formato=mpeg&color=3&titulo=2&autoStart=1&vol=5&tipo=201&nombre=MEJ%c3%8dA+PRO+RADIO&imagen=https://cp.usastreams.com/playerHTML5/img/cover.png&server=https://ssradioonline.com/status.xslCHUMILLASmount=/proxy/status.xslCHUMILLASmount=/mejiaproCHUMILLASmp=/status.xslCHUMILLASmount=/stream"></iframe>
<!-- En players responsive puede modificar el weight a sus necesidades, Por favor no modifique el resto del codigo para poder seguir ofreciendo este servicio gratis  -->
<!-- Fin. USAstreams.com html5 player -->

<!-- En players responsive puede modificar el weight a sus necesidades, Por favor no modifique el resto del codigo para poder seguir ofreciendo este servicio gratis  -->
<!-- Fin. USAstreams.com html5 player -->
          <h1 style="color: azure; margin-left: 5%;">
            LOS MEJORES ÉXITOS DEL MOMENTO... 
          </h1>
         
        </center>

        </div>
    </section>

    {% include 'home/footer.html' %}
    <script language="javascript" type="text/javascript" src="https://ssradioonline.com:2199/system/streaminfo.js"></script>

</body>
{% endblock body %}